.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: gray;
  font-size: 5rem;
  text-align: center;
}

.square:hover {
  background-color: rgba(128, 128, 128, 0.354);
}

.square:disabled {
  background-color: rgba(128, 128, 128, 0.354);
  color: black;
}

.status {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

@media (max-width: 480px) {
  .square {
    width: 80px;
    height: 80px;
    font-size: 1rem;
  }
}
